<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees to print</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/client-print-page.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marcellus">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="print" href="/css/client-print-mode.css" />
    <script src="/js/mira-print.js"></script>
</head>
<body class="main" data-main-class="employee">
    <header class="header">
        <a class="logo-block" href="/employee">
            <img src="/images/main.png" alt="Logo image">
            <span>Mira</span>
        </a>
        <span>Employees</span>
        <a onclick="window.print()" class="print-button">
            <img src="/images/share.png" class="left-menu-image">
            <span>PRINT LIST OF ALL EMPLOYEES</span>
        </a>
        <div id="print-sql" style="display: flex; flex-direction: column">
            <form method="post" style="width: 50%; margin: 0 auto">
                <input type="radio" id="query1" name="query" data-sample="SELECT * FROM tsi_kw.employee WHERE id_employee IN (SELECT id_employee_assignee FROM tsi_kw.task GROUP BY id_employee_assignee HAVING Count(tsi_kw.task.id_employee_assignee) > ?)">
                <label for="query1">Select employees that work on more than <input onchange="modifyQuery(1)" id="param1" type="number" step="1" min="0" style="width: 25px"> tasks</label><br>
                <span id="string1" class="query">
                    SELECT * FROM tsi_kw.employee WHERE id_employee IN (SELECT id_employee_assignee FROM tsi_kw.task GROUP BY id_employee_assignee HAVING Count(tsi_kw.task.id_employee_assignee) > )
                </span> <br>
                <input type="radio" id="query2" name="query" data-sample="SELECT * FROM tsi_kw.employee WHERE name = '?'">
                <label for="query2">Select employees by name = <input onchange="modifyQuery(2)" id="param2" type="text" style="width: 90px"></label><br>
                <span id="string2" class="query">
                    SELECT * FROM tsi_kw.employee WHERE name = ''
                </span> <br>
                <input checked type="radio" id="query3" name="query" value="SELECT * FROM tsi_kw.employee">
                <label for="query3">Select all clients</label> <br>
                <span id="string3" class="query">
                    SELECT * FROM tsi_kw.employee
                </span> <br>
            </form>
            <a onclick="getSqlResult()" class="print-button">
                <img src="/images/share.png" class="left-menu-image">
                <span>RUN QUERY</span>
            </a>
        </div>
    </header>
    <div id="body-content">

    </div>
    <footer class="footer">
        <div class="footer-block">
            <a class="logo-block" href="/client">
                <img src="/images/main.png" alt="Logo image">
                <span>Mira</span>
            </a>
        </div>
        <div class="footer-block tsi-info">
            <span>Ilya Pozdeev's coursework for the TTI university</span>
        </div>
    </footer>
</body>
</html>