<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects to print</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/client-print-page.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marcellus">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="print" href="/css/client-print-mode.css" />
    <script src="/js/mira-print.js"></script>
</head>
<body class="main" data-main-class="project">
    <header class="header">
        <a class="logo-block" href="/project">
            <img src="/images/main.png" alt="Logo image">
            <span>Mira</span>
        </a>
        <span>Projects</span>
        <a onclick="window.print()" class="print-button">
            <img src="/images/share.png" class="left-menu-image">
            <span>PRINT LIST OF ALL PROJECTS</span>
        </a>
        <div id="print-sql" style="display: flex; flex-direction: column">
            <form method="post" style="width: 50%; margin: 0 auto">
                <input type="radio" id="query1" name="query" data-sample="SELECT * FROM tsi_kw.project WHERE finish_date LIKE '?%'">
                <label for="query1">Select project which will be finished at <input onchange="modifyQuery(1)" id="param1" type="number" step="1" min="2020" style="width: 65px"> year</label><br>
                <span id="string1" class="query">
                    SELECT * FROM tsi_kw.project WHERE finish_date LIKE '%'
                </span> <br>
                <input type="radio" id="query2" name="query" data-sample="SELECT * FROM tsi_kw.project WHERE title LIKE '%?%'">
                <label for="query2">Select project with title like = <input onchange="modifyQuery(2)" id="param2" type="text" style="width: 90px"></label><br>
                <span id="string2" class="query">
                    SELECT * FROM tsi_kw.project WHERE title LIKE '%%'
                </span> <br>
                <input checked type="radio" id="query3" name="query" value="SELECT * FROM tsi_kw.project">
                <label for="query3">Select all projects</label> <br>
                <span id="string3" class="query">
                    SELECT * FROM tsi_kw.project
                </span> <br>
            </form>
            <a onclick="getSqlResult()" class="print-button">
                <img src="/images/share.png" class="left-menu-image">
                <span>RUN QUERY</span>
            </a>
        </div>
    </header>
    <div id="body-content">

    </div>
    <footer class="footer">
        <div class="footer-block">
            <a class="logo-block" href="/client">
                <img src="/images/main.png" alt="Logo image">
                <span>Mira</span>
            </a>
        </div>
        <div class="footer-block tsi-info">
            <span>Ilya Pozdeev's coursework for the TTI university</span>
        </div>
    </footer>
</body>
</html>